name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: eeekcct/goreleaser-golang-workflow/.github/workflows/release.yml@5065f0f9d063637caf5440cfb03ff06258d96c59
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
