name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: eeekcct/goreleaser-golang-workflow/.github/workflows/release.yml@d38f9f1df6cef10ae1dc9626b07fe544eb250cc1 # v0.2.0
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
